<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</head>
<body class="dark:bg-gray-800">
    <nav class="bg-white border-gray-200 dark:bg-gray-900">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
            <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="https://cdn-icons-png.flaticon.com/512/3767/3767036.png" class="h-8" alt="Flowbite Logo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Weather App</span>
            </a>
            <div class="flex items-center space-x-6 rtl:space-x-reverse">
                <p href="tel:5541251234" class="text-sm  text-gray-500 dark:text-white hover:underline">Alvaro Cleosanda - 1202220181 - SI4605</p>
                <p href="#" class="text-sm  text-blue-600 dark:text-blue-500 hover:underline">Tugas 3 IAE</p>
            </div>
        </div>
    </nav>
    
    <main>
        <%- body %>
    </main>

</body>
</html>